.container {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 15px;
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: column;

    .dateTime {
        display: flex;
        justify-content: center;
        margin-bottom: 31px;

        span {
            text-align: center;
            background: var(--light-gray);
            padding: 5px 22px;
            border-radius: 40px;
        }

    }
}