.container {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 15px;
    grid-template-columns: auto auto auto auto;

    div {
        svg {
            cursor: pointer;
            font-size: 25px;
            //margin: 19px 38px;
            color: #c6c6c6;

            &:not(:first-child) {
                //margin-left: 65px;
            }
        }
    }

    div.active {
        svg {
            color: var(--green);
        }

    }



}