.container {
    background: var(--gray);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    flex: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        h3 {
            color:var(--white)
        }
        .video {
            cursor: pointer;
            object-fit: cover;
        }
    }

    .desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        h3 {
            color:var(--white)
        }

        img {
            cursor: pointer;
            height: 430px;
            object-fit: cover;
        }
    }
}
